<div class="tab-content">

    <div class="tab-pane  " id="images"">

    <table class="table table-bordered table-hover" >
        <thead>
        <tr role="row" class="heading">
            <th width="50%"> {{trans('backend.product_images')}} </th>

            <th width="50%"> </th>
        </tr>
        </thead>
        <tbody>
        @foreach($product->images as $des)


        <tr>
            <td>
                <a href="#" class="fancybox-button" data-rel="fancybox-button">
                    <img class="fileinput-preview fileinput-exists thumbnail" style="max-width: 500px; max-height: 150px;" src="{{Request::root()}}/uploads/product_images/{{$des->name}}" alt=""> </a>
            </td>


            <td>


                <a class="btn btn-default btn-sm"  onclick="$('.articles_form_{{$des->id}}').submit();" data-toggle="tooltip" data-original-title="{{ trans('backend.delete') }}"> <i class="fa fa-times"></i>{{trans('backend.remove')}}  </a>

                {!! Form::open(['url'=>['products/image', $des->id] , 'class'=>"articles_form_$des->id" , 'method' =>'POST']) !!}

                {!! method_field('DELETE') !!}


                {!! Form::close() !!}
            </td>
        </tr>
        @endforeach
        </tbody>
    </table>
</div>