a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.form-control:focus{
    outline: none;
}
body{
    background-color: #e9ebea;
}
/* ============================= header =============================*/
.header{
    padding: 15px 0 10px;
}
.header h1{
    margin: 0;
}
.header .header-account a{
    display: inline-block;
    padding: 6px 20px;
    border: solid 1px #DDD;
    color: #0087b1;
    font-family: serif;
    margin: 10px 0 0 0;
}
.header .header-account a i{
    position: relative;
    left: -6px;
}
.my-account i{
    font-size: 20px;
}
.header .header-account a.place-add{
    background-color: #1cc8fd;
    border: solid 1px #1cc8fd;
    color: #ffffff;
}
@media (max-width: 576px) {
    .header .header-account a.my-account{
        padding: 6px 31px;
    }
    .header h1{
        margin-top: 20px;
    }
}
/* ========================== banner ==========================*/
.banner{
    position: relative;
    height: 650px;
    color: #ffffff;
}
.banner .background{
    position: absolute;
    width: 100%;
    height: 100%;
}
.banner .background img{
    width: 100%;
    height: 100%;
}
.banner .background:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 51, 53, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}
.banner .banner-content {
    padding: 225px 0 0 0;
}
.banner .banner-content h2{
    font-size: 60px;
    margin-bottom:  20px;
    text-transform: uppercase;
}
.form-search {
    padding: 30px 25px;
    background-color: rgba(81, 84, 91, 0.5607843137254902);
    border: solid 2px rgba(152, 152, 152, 0.7490196078431373);
    border-radius: 7px;
}
.banner .banner-content p{
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
}
.form-search .form-control{
    height: 50px !important;
}
@media (max-width: 992px) {
    .form-search .form-control{
        margin: 10px 0;
    }
}
.form-search .search-submit{
    color: #ffffff;
    background-color: #2196f3;
    border: none;
}
@media (max-width: 768px) {
    .banner .banner-content {
        padding: 100px 0 0 0;
    }
    .banner{
        height: 700px;
    }
    .banner .banner-content h2{
        font-size: 40px;
    }
}
@media (max-width: 576px) {

    .banner .banner-content {
        padding: 100px 0 0 0;
    }
    .banner .banner-content h2{
        font-size: 30px;
    }
}
/*=============================== Category ===========================*/
.category-icon{
    padding: 50px 0;
}

.category-icon-row .col-lg-2{
    padding: 0 5px;
}
.category-icon-block{
    background-color: #ffffff;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 10px;
    padding: 30px 0 0 0;
    min-height: 200px;
}
.category-icon-block img{
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 90px;
}
.category-icon-block a{
    display: inline-block;
    margin-top: 15px;
    color: #343a40;
    font-family: sans-serif;
}

@media (max-width: 576px) {
    .category-icon{
        padding: 50px 20px;
    }
}
/*================================ latest adds =========================*/
.latest-adds-title h2{
    font-size: 40px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #7d7d7d;
}
.latest-adds-title p{
    font-size: 15px;
    color: #7b7b7b;
}
.latest-adds-tabs{
    padding: 10px ;
    background-color: #ffffff;
    border-radius: 5px;
}
.latest-adds-tabs p{
    margin: 0;
    color: #7b7b7b;
    font-weight: 500;
    font-size: 14px;
}
.latest-adds-tabs p span{
    display: inline-block;
    margin-left: 30px;
    position: relative;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.latest-adds-tabs p span:after{
    content: '';
    width: 1px;
    height: 25px;
    background-color: #cacaca;
    position: absolute;
    top: 2px;
    right: -15px;
}
.latest-adds-tabs p span.activeTab{
    color: #00ace1;
}
.group-type .group-type-item{
    display: inline-block;
    margin-left: 15px;
    color: #9d9e9e;
    font-size: 20px;
    cursor: pointer;
}
.group-type .group-type-item.active-list{
    color: #5a6268;
}
.latest-adds-items{
    margin: 0 -10px;
}
.shuffle-item {
    padding: 0 10px;
}
.latest-ads-item{
    margin: 20px 0 0 0;
    position: relative;
    padding: 0 0 89px 0;
    background-color: #FFF;
}
.latest-ads-item img{
    width: 100%;
    height: 290px;
}
.latest-ads-item span{
    display: block;
    position: absolute;
    color: #232323;
    font-weight: 600;
}
.latest-ads-item .latest-ads-price{

background-color: #00ace1;
top: 15px;
left: 10px;
color: #FFF;
padding: 5px 15px;
border-radius: 4px;
}
.latest-ads-item .adds-heart{

top: 5px;
right: 10px;
color: #d02d7e;
font-size: 30px;
}
.latest-ads-item .latest-ads-category{

bottom: 40px;
left: 10px;
padding: 2px 15px;
color: #FFF;
border-radius: 3px;
}
.latest-ads-item .latest-ads-name{

display: block;
position: absolute;
left: 10px;
bottom: 10px;
color: #232323;
font-weight: 600;
}
.latest-ads-item .latest-ads-name i{
    font-size: 12px;
    color: #bfc5c5;
}
.latest-ads-item .latest-ads-time{

bottom: 40px;

right: 10px;
}
.latest-ads-item .latest-ads-place{

bottom: 10px;
right: 10px;
}
.blue{
    background-color: #004bd3;
}
.red{
    background-color: #eb0556;
}
.red-2{
    background-color: #d3006d;
}
.load-more{
    display: inline-block;
    margin: 40px 0;
    color: #FFF;
    background-color: #00ace1;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 4px;
}
.load-more:hover{
    color: #FFFFFF;
}

.latest-adds-items .group-list-active{
    width: 100%;
}
.latest-adds-items .group-list-active .latest-ads-item{
    padding: 0;
    margin: 10px 0 0 0;
}
.latest-adds-items .group-list-active .latest-ads-item img{
    width: 30%;
    height: 215px;
}
.latest-adds-items .group-list-active .latest-ads-item .latest-ads-price{
    top: 15px;
    right: 20px;
    left: unset;
    font-size: 34px;
    padding: 5px 25px;
}
.latest-adds-items .group-list-active .latest-ads-item .adds-heart{
    top: 100px;
    right: 78px;
    font-size: 45px;
}
.latest-adds-items .group-list-active .latest-ads-item .latest-ads-category{

top: 15px;
left: 32%;
bottom: unset;
font-size: 27px;
}
.latest-adds-items .group-list-active .latest-ads-item .latest-ads-name{
    left: 32%;
    bottom: 90px;
    font-size: 23px;
}
.latest-adds-items .group-list-active .latest-ads-item .latest-ads-time{

bottom: 39px;
right: unset;
left: 32%;
}
.latest-adds-items .group-list-active .latest-ads-item .latest-ads-place{

bottom: 17px;
right: unset;
left: 32%;
}
/*========================= Start Footer ========================*/
.footer{
    padding: 35px 0;
    color: #dddddd;
    background-color: #2e2e2e;
}
.footer h2{
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    position: relative;
}
.footer h2::after{
    content: '';
    display: block;
    width: 37px;
    height: 3px;
    background-color: #dddddd;
    position: absolute;
    bottom: -15px;
    left: 44%;
}
.footer p{
    margin: 0;
    font-size: 16px;
    color: #cccccc;
}
.footer p:last-of-type{
    margin-bottom: 30px;
}
.social-footer{
    width: 100px;
    background-color: #f0f1f0;
    margin: 0 auto;
    border-radius: 20px;
    height: 35px;
    padding-top: 5px;
}
.social-footer a{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    font-size: 19px;
}
.social-footer a:first-child{
    margin-right: 5px;
    background-color: #154cba;
}
.social-footer a:last-child{
    background-color: #00bcf4;
}
.contact-us-footer p{
    font-size: 14px;
}
.contact-us-footer p a{
    color: #cccccc;
}
.contact-us-footer .form-contact input,
.contact-us-footer .form-contact textarea{
    width: 90%;
    padding: 8px 15px;
    border: none;
    margin-bottom: 3px;
    resize: none;
    outline: none;
}
.contact-us-footer .form-contact input:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.contact-us-footer .form-contact input:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -5px;
    color: #FFFFFF;

    background-color: #11b897;
}
.footer .our-location{
    padding-top: 38px;
    height: 385px;
}
.footer-bottom{
    height: 45px;
    background-color: #04916f;
}
.footer .list-unstyled .media{
    margin-bottom: 10px;
}

.footer .list-unstyled .media h5{
    margin-bottom: 0 !important;
}
.footer .list-unstyled .media h5 a{
    font-size: 17px;
}
.footer .list-unstyled .media a{
    color: #cccccc;
    font-size: 14px;
}
.footer .list-unstyled .media-img{
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 0 auto;
}
.media-body-footer{
    display: inline-block;
    margin-left: 10px;
}
.bottom-footer{
    height: 40px;
    background-color: #2196f3;
}
/*========================= End Footer ========================*/

.no-margin{
    margin: 0;
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {

    .footer-div-margin{
        margin-bottom: 30px;
    }
}
@media (max-width: 768px) {

    .latest-adds-items .group-list-active .latest-ads-item .latest-ads-price{
        font-size: 20px;
        padding: 5px 9px;
    }
    .latest-adds-items .group-list-active .latest-ads-item .adds-heart{
    right: 43px;
    }
    .footer .list-unstyled {
        width: 80%;
        margin: 0 auto;
    }
}
@media (max-width: 576px) {
    .footer .list-unstyled {
        width: 80%;
        margin: 0 auto;
    }
    .latest-adds-tabs div div{
        padding:0 5px;
    }
    .latest-adds-tabs p span {
        margin-left: 12px;
        font-weight: 500;
        font-size: 15px;
    }
    .latest-adds-tabs p span:after {
        right: -5px;
    }
    .no-margin{
        margin: 0;
    }
    .latest-adds-items .group-list-active .latest-ads-item img{
        width: 35%;
        height: 180px;
    }
    .latest-adds-items .group-list-active .latest-ads-item .latest-ads-price{
        top: 15px;
        right: 5px;
        font-size: 10px;
        padding: 3px 2px;
    }
    .latest-adds-items .group-list-active .latest-ads-item .adds-heart{
        top: 60px;
        right: 15px;
        font-size: 31px;
    }
    .latest-adds-items .group-list-active .latest-ads-item .latest-ads-category{

    top: 15px;
    left: 38%;
    bottom: unset;
    font-size: 14px;
    padding: 2px 5px;

    }
    .latest-adds-items .group-list-active .latest-ads-item .latest-ads-name{
        left: 38%;
        bottom: 75px;
        font-size: 15px;
    }
    .latest-adds-items .group-list-active .latest-ads-item .latest-ads-time{

    bottom: 39px;
    right: unset;
    left: 38%;

    }
    .latest-adds-items .group-list-active .latest-ads-item .latest-ads-place{

    bottom: 17px;
    right: unset;
    left: 38%;

    }

}

/* ================================= favorite ads ================================  */
.banner-pages{
    position: relative;
    height: 150px;
}

.banner-pages .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner-pages .background img{
    width: 100%;
    height: 100%;
}
.banner-pages .banner-title{
    line-height: 150px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.margin-top{
    margin: 20px 0;
}
/* ====================================== register ==================================*/

.ba-color{
    background-color: #FFFFFF;
    padding: 20px 0;
}
.register-content{
    width: 57%;
    margin: 0 auto;
    padding: 30px;
    border: solid 1px #ececec;
}

.register-content .register-title{
    width: 250px;
    height: 50px;
    margin: 0 auto 40px;
    background-color: #1e90ff;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 28px;
    position: relative;
}
.register-content .register-title i{
    color: #1e90ff;
    position: absolute;
    bottom: -22px;
    left: 45%;
    font-size: 35px;
}
.register-content .form-control{
    margin-bottom: 20px;
}
.register-content .form-control.submit{
    background-color: #1e90ff;
    text-transform: uppercase;
    color: #FFF;
    font-size: 20px;
    padding: 10px 0 34px;
}
.register-content p a{
    color: #0069d0;
    font-weight: 500;
}
.register-content .login-title{

color: #6a6d6f;
}
.register-content .social{
    margin-top: 15px;
}
.register-content .social a{
    display: inline-block;
    margin-left: 10px;
    width: 35px;
    height: 38px;
    color: #FFFFFF;
    line-height: 38px;
    font-size: 21px;
}
.register-content .social .facebook{
    background-color: #3b5998;
}
.register-content .social .google{
    background-color: #dd4b39;
}
.register-content .social .twitter{
    background-color: #00aced;
}

@media (max-width: 768px) {
    .register-content{
        width: 94%;
        margin: 0 auto;
        padding: 30px;
        border: solid 1px #ececec;
    }


}
@media (max-width: 576px) {
    .register-content .register-title{
        width: 200px;
        font-size: 23px;
        letter-spacing: 1px;
    }
}
/* ========================== user page ==========================*/
.user-information{
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.user-info-left img{
    height: 150px;
    width: 150px;
    margin-right: 50px !important;
    margin-bottom: 21px;
    border-radius: 50%;
}
.last-login{
    font-size: 14px;
    color: darkgrey;
}
 .stars{
    color: #ffc513;
    font-size: 14px;
}
.verified{
    display: inline-block;
    padding: 2px 10px;
    background-color: #31ceff;
    border-radius: 3px;
    color: #FFF;
}
.social-user-profile a{
    display: inline-block;
    margin: 0 2px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #f0f0f0;
    color: #848484;
    border-radius: 3px;
}
.social-user-profile a:hover{
    background-color: #def7ff;
    color: #0193c1;
}
.info-p{
    width: 80%;
}
.info-contact p{
    color: #6c6c6c;
}
.info-contact p i{
    position: relative;
    margin-right:10px ;
}
@media (max-width: 576px) {
    .info-p{
        width: 100%;
    }
    .user-info-left img {
        height: 90px;
        width: 90px;
    }
    .user-info-left{
        margin-bottom: 30px;
    }
}
/* =========================================== category page =========================================*/

.category-content .container{
    padding: 0;
}
.advanced-search,
.latest-ad-posts{
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 7px;
}

.advanced-search h2,
.latest-ad-posts h2{

background-color: #fafafa;
margin-top: -15px;
margin-right: -15px;
margin-left: -15px;
padding: 015px;
font-size: 15px;
text-transform: uppercase;
border-bottom: solid 1px #DDD;
color: #696969;
}
.advanced-search h2 i,
.latest-ad-posts h2 i{
    color: #83c8ff;
    margin-right: 15px;
}
.advanced-search h3{
    font-size: 15px;
    font-weight: 500;
}
.advanced-search h3 i{
    color: #83c8ff;
    margin-right: 15px;
}
.form-keywords {
    position: relative;
}
.advanced-search .keyword-submit{
    width: 25px;
    height: 25px;
    text-indent: 100px;
    position: absolute;
    right: 10px;
    top: 7px;
    background-image: url("../img/submit-keyword.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
}
.advanced-search .form-control{
    background-color: #fafafa;
    margin-bottom: 10px;
}
.advanced-search .custom-select{
    margin-bottom: 10px;
    background-color: #fafafa;
}
.advanced-search label{
    display: block;
    font-size: 14px;
}
.advanced-search .submit-search{
    background-color: #2196f3;
    color: #FFFFFF;
}
.latest-ad-posts .media img{
    width: 70px;
    height: 70px;
}
.latest-ad-posts .media p{
    font-size: 12px;
}
.latest-ad-posts .media a{
    color: #000;
}
/* ====================================== Ad details page ================================*/
.ad-details-header h1{
    font-size: 25px;
    margin-top: 20px;
}
.ad-details-header span{
    display: inline-block;
    margin-right: 30px;
    font-size: 13px;
}
.ad-details-header span a{
    color: #00ace1;
}
.ad-details-header p .ad-d-price{
    display: inline-block;
    padding: 3px 20px;
    font-size: 33px;
    color: #FFFFFF;
    background-color: #00bcf4;
    border-radius: 5px;
    margin-top: 20px;
}
.slider{
    width: 100%;
    position: relative;
}
.slider .item{
    height: 285px;
    margin-right: 2px;
}
.slider .item img {
    width: 100%;
    height: 100%;
}
.slider .ad-d-arrow{
    display: block;
    width: 30px;
    height: 36px;
    background-color: #4fd5ff;
    text-align: center;
    line-height: 36px;
    position: absolute;
    top: 44%;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 100000;
}
.ad-d-arrow-right{
    right: 115px;
}
.ad-d-arrow-left{
    left: 115px;
}
.ad-details-content{
    background-color: #FFFFFF;
    padding: 25px;
    margin: 30px auto;
}

.ad-details-content .bold{
    font-weight: bold;
    color: #000;
    margin-right: 9px;
    font-size: 16px;
}
.ad-details-content td{
    width: 1%;
    color: #75797b;
    font-size: 15px;
}
.ad-details-content p{
    width: 86%;
    color: #75797b;
}
.ad-details-content .social a{
    display: inline-block;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    border-radius: 5px;
}
.facebook-bg{
    background-color: #3b5998;
}
.twitter-bg{
    background-color: #55acee;
}
.google-bg{
    background-color: #dd4b39;
}
.instagram-bg{
    background-color: #0166ff;
}
.tag i{
    font-size: 20px;
    color: #4fd5ff;
}

.tag a{
    display: inline-block;
    margin-right: 10px;
    color: #4fd5ff;
}
.google-adds{
    height: 110px;
    margin: 0 auto;
}
.google-adds img{
    width: 100%;
    height: 100%;
}
.share {
    margin: 0 auto;
}
.share div div{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border: solid 1px #DDD;
    text-align: center;
    height: 65px;
    line-height: 65px;
}
.share div div a{
    color: #000000;
}
.share div div a i{
    margin-right: 5px;
    color: #777777;
}
.share div div a i.fa-heart-o{
    color: #f5af02;
}
.sidebar-right .media{
    background-color: #FFFFFF;
    margin-bottom: 5px;
}
.sidebar-right .send-mail span{
    width: 70px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #FFFFFF;
    font-size: 28px;
}
.mail{
    background-color: #14c0f5;
}
.phone{
    background-color: #785edd;
}
.sidebar-right .send-mail a{
    line-height: 60px;
    margin-left: 10px;
    color: #000000;
    font-weight: 600;
}
.user-info-sidbar{
    padding: 10px;
}
.sidebar-right .media img{
    height: 80px;
    width: 80px;
    margin-right: 16px !important;
    border-radius: 50%;
}
.sidebar-right-map{
    height: 375px;
}
.sidebar-right-map img{
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    .ad-d-arrow-right{
        right: 80px;
    }
    .ad-d-arrow-left{
        left: 80px;
    }
    .sidebar-right .send-mail a{
        font-size: 12px;
    }
    .category-content .latest-adds-items .group-list-active .latest-ads-item .latest-ads-price{

font-size: 20px;

padding: 5px 5px;

}
}
@media (max-width: 768px) {
    .ad-details-header p .ad-d-price{
        font-size: 20px;
    }
    .ad-d-arrow-right{
        right: 50px;
    }
    .ad-d-arrow-left{
        left: 50px;
    }
    .ad-details-content p{
        width: 100%;
    }
}

@media (max-width: 576px) {
    .ad-d-arrow-right{
        right: 5px;
    }
    .ad-d-arrow-left{
        left: 5px;
    }
    .ad-details-content td{
        font-size: 13px;
        display: block;
        width: 100%;
        margin-bottom:  5px;
    }
    .ad-details-content .bold{
        font-size: 14px;
        margin-right: -1px;
    }
}

.media-body-user{
    width: auto;
    display: inline-block;
}
.register-content.add-content label{
    text-align: left;
    color: #213152;
    font-size: 14px;
    font-weight: 500;
}
.add-map{
    margin: 30px 0;
}

.register-content.add-content input[type="file"]{
    border: none;
    box-shadow: none;
    padding-left: 0;
}
.page-title-cat{
    text-align: center;
    color: #FFF;
    line-height: 150px;
    margin: 0;
    font-family: monospace;
}
.content-category{
    margin: 30px;
    -webkit-box-shadow: 0 0 3px 0 #585858;
    box-shadow: 0 0 3px 0 #585858;
    padding: 30px;
}
.content-category .row{
    margin-bottom: 20px;
}
.category-block{
    margin-bottom: 20px;
}
.content-title{
    margin-bottom: 30px;
    color: #232323;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}
.content-title i{
    margin-right: 10px;
    color: #6f6f6f;
}
.category-title a{
    color: #f91942;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
.category-title a:hover{
    color: #333;
}
.category-links{
    margin-bottom: 5px;
}
.category-links a{
    color: #222;
    font-size: 15px;
    text-transform: capitalize;
}
.category-links a:hover{
    color: #999;
}